body {
    background-color:#202429;
    margin: 0;
    padding: 0;
    color:#83BFF7;
    font-family:Segoe UI;
    position: relative;
 
}

header {
    background-color:#83BFF7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #202429;
    text-decoration: none;
    padding: 10px;
    font-weight:bold;
    text-transform:lowercase;

}

nav ul li a:hover {
    background-color: #202429;
    color: #83BFF7;
    border-radius:25px;
    border-bottom:0px;
}

.logo {
    display: inline-block;
    color: #202429;
    font-weight: bold;
    font-size: 40px;
    text-transform:lowercase;
}

section {
    padding: 16.60px;
}

footer {
    background-color: #83BFF7;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p {
    margin: 0;
    color:#202429;
    font-weight:bold;
}

.selected{
    border-bottom: 4px solid;
    border-color: white;
    color: white;
}

.picture{
    width: 50px;
    height: 50px;
    position: center;
    margin-left: 160px;
}

.picture:hover{
    background-color:white;
    border-radius:10px;
}


.image-section {
    display: flex;
    flex-direction: column;
}

.image-section .image-container {
    margin-bottom: 20px;
    display: flex;
    width: 320px;
}

.image-section .image-container img {
    max-width: 50%;
    height: auto;
    display: block;
}

.image-section .image-container .image-text {
    text-align: left;
    flex: 1;
    display: block;
    margin-top: 80px;
    padding-left: 60px;
    font-size: 1.4em;
    white-space: nowrap;
    font-weight: bold;
}
.image-section .image-container img:hover {
    background-color: #83BFF7;
    border-radius: 50px;
}

.photo-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 290px;
}


.photo-section .photo-container {
    width: 35%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #83BFF7;
    color: #202429;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.photo-section .photo-container img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 110px;

}


.photo-section .photo-container .photo-caption {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.photo-section .photo-container:hover{
   background-color: white;
    cursor: pointer;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #83BFF7;
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: #202429;

}

.box img {
    display: block;
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
}

.caption {
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.big-box {
    width: 600px;
    height: 400px;
    border: 2px solid #000;
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: #202429;
    background-color: #83BFF7;

}

.big-box img {
    display: block;
    width: 90px;
    height: auto;
    padding: 10px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
    flex-direction: column;
}

.big-caption {
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.4em;

}
.big-box:hover{
    background-color: white;
    cursor: pointer;
}
.box:hover{
    background-color: white;
    cursor: pointer;
}
#home2{
    margin-top: 100px;
    padding:0px;
}



 .section-page {
     display: flex;
     align-items: center;
 }

.left-picture {
    flex: 1;
    text-align: center;
}

.right-content {
    flex: 1;
        margin-right: 250px;
}

.right-picture {
    text-align: center;

}

.caption h3 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 44px;
}
.caption p {
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;

}

.row-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picturee {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    width: 490px;
    height: 570px;
    margin-top:32px;
}
.picturess img {
    flex: 1;
    text-align: center;
    padding: 10px;
    width: 50px;
    height: 50px;

}

.picturess img:hover{
    background-color: #83BFF7;
    padding: 10px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    cursor: pointer;
}


/* MOBILE VIEW*/
@media (max-width: 768px) {
    /*HEADER*/
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 10px;
        margin-left: 100px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
    header {
        padding: 10px;
    }

    .picture {
        margin-left: 300px;
    }

/*HEADER*/


/*ABOUT*/
    .section-page {
        flex-direction: column;
    }

    .left-picture,
    .right-content {
        margin-right: 0;
    }
    .right-content{
        margin-bottom: 100px;
    }

    .picturee {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    /*ABOUT*/

    /*EDUCATION*/
    .image-section {
        width: 20%;
        margin: auto;
        padding: 0 20px;
    }

    .image-section .image-container {
        width: 100%;
        max-width: 300px;
        flex-direction: column;
        align-items: center;
    }

    .image-section .image-container img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .image-section .image-container .image-text {
        text-align: center;
        padding: 0 10px;
        margin-top: 20px;
        font-size: 10px;
    }
/*EDUCTION*/

    /*SKILLS*/
    .big-box{
        margin-bottom: 150px;
        overflow: auto;
        width: 400px;
    }

    .box {
        width: 250px; /* Adjust the width as needed */
    }



    .big-box img {
        width: 70px; /* Adjust the image size as needed */
    }
    #home2{
        margin-top: 40px;
    }
/*SKILLS*/

    /*HOBBY*/

    .photo-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 100px;
    }
    .photo-section .photo-container {
        width: 80%;
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        background-color: #83BFF7;
        color: #202429;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .photo-section .photo-container img {
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin-bottom: 10px;
        border-radius: 10px;
        height: 110px;
    }
    .photo-section .photo-container .photo-caption {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }
    /*HOBBY*/
}

